<div class="dropdown">
    <button class="btn">Menu</button>
    <div class="dropdown-content">
      <a class="nav-link  text-dark" routerLink="/seller-itemlist">Edit Item</a>
      <a class="nav-link  text-dark" routerLink="/seller-additem">Add Item</a>
      <a class="nav-link  text-dark" routerLink="/report">Report</a>
      <a class="nav-link  text-dark" routerLink="/login">Logout</a>
     </div>
    </div>
  
    <div class="container">
      <div class="row mt-5">
          <div class="col"></div>
          <div class="col-md-6">
              <div class="card card-align card-width">
                  <div class="card-header">Add a Item</div>
                  <div class="card-body">
                      <form action="" #sellerAddItemForm="ngForm">

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="category">Category</label>
                                      <select class="form-control"  required [(ngModel)]="categoryOptions.id" id="category" name="category" (change)=" getSubCategoryOptions($event.target.value)" >
                                        <option *ngFor="let option1 of objectKeys(categoryOptions) " [value]="categoryOptions[option1].id" >{{categoryOptions[option1].name}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="subcategory">Sub Category</label>
                                      <select class="form-control"  required [(ngModel)]="subcategoryOptions.id" id="subcategory" name="subcategory" >
                                        <option *ngFor="let option2 of objectKeys(subcategoryOptions) " [value]="subcategoryOptions[option2].id" >{{subcategoryOptions[option2].name}}</option>
                                      </select>
                                   </div>
                              </div>
                          </div>

                          <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="itemName">Item Name</label>
                                        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Enter itemname" 
                                               required #itemName="ngModel" [(ngModel)]="item.name"/>
                                            <span class="help-block text-danger" *ngIf="!itemName.valid && itemName.touched">The Item Name field is required!</span>
                                    </div>
                                </div>
                            </div>



                            <div class="weui_cell">
                              <div class="weui_cell_bd weui_cell_primary">
                                <div class="weui_uploader">
                                  <div class="weui_uploader_hd weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">Item Image</div>
                                  </div>
                                  <div class="weui_uploader_bd">
                                    <ul class="weui_uploader_files"> 
                                      <li class="weui_uploader_file" *ngFor="let path of pciturePaths"  [ngStyle]="{'background-image':'url(http://localhost:55077'+path+')'}"></li>
                                    </ul>
                                    <div class="weui_uploader_input_wrp">
                                      <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif,video/*" ng2FileSelect [uploader]="uploader" (change)="uploadPicture()" multiple/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="weui_cell">
                              <div class="weui_cell_bd weui_cell_primary">
                                <div class="weui_uploader">
                                  <div class="weui_uploader_hd weui_cell">
                                    <div class="weui_cell_bd weui_cell_primary">Item Video</div>
                                  </div>
                                  <div class="weui_uploader_bd">
                                    <div>
                                        <video controls="controls" width="100%"  height="200"  *ngFor="let path of videoPaths" src="http://localhost:55077/{{path}}">Your browser can't support HTML5 Audio</video>
                                    </div>
                                    <div class="weui_uploader_input_wrp">
                                      <input class="weui_uploader_input" type="file" accept="video/*" ng2FileSelect [uploader]="uploader" (change)="uploadVideo()" multiple/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                             

                          <!-- <div class="row"> 
                              <div class="col">
                                  <div class="form-group">
                                      <label for="gstin">Item Image</label>
                                      <input type="text" class="form-control" id="gst" name="gst" placeholder="GSTIN"
                                             required #itemName="ngModel" [(ngModel)]="item.gst"/>
                                             <span class="help-block text-danger" *ngIf="!itemName.valid && itemName.touched">The Item Name field is required!</span>   
                                  </div>
                              </div>
                          </div> -->

                          <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="itemDescription">Item Description</label>
                                    <textarea class="form-control" id="itemDescription" rows="3"
                                        name="itemDescription" [(ngModel)]="item.description"
                                        placeholder="Enter Item Description"></textarea>
                                </div>
                            </div>
                        </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="itemPrice">Item Price</label>
                                      <input type="text" class="form-control" id="itemPrice" name="itemPrice"
                                             [(ngModel)]="item.price"  placeholder="Enter Item Price"/>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="itemStock">Item Stock</label>
                                      <input type="text" class="form-control" id="itemStock" name="itemStock" 
                                      [(ngModel)]="item.stock" placeholder="Enter Item Stock">
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn " (click)="save()" [disabled]="!sellerAddItemForm.valid">Save Item</button>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col"></div>
      </div>
  </div>
