<div class="dropdown">
    <button class="btn">Menu</button>
    <div class="dropdown-content">
      <a class="nav-link  text-dark" routerLink="/seller-itemlist">Edit Item</a>
      <a class="nav-link  text-dark" routerLink="/seller-additem">Add Item</a>
      <a class="nav-link  text-dark" routerLink="/report">Report</a>
      <a class="nav-link  text-dark" routerLink="/login">Logout</a>
     </div>
    </div>
  
    <div class="container">
      <div class="row mt-5">
          <div class="col"></div>
          <div class="col-md-6">
              <div class="card card-align card-width">
                  <div class="card-header">Add a Item</div>
                  <div class="card-body">
                      <form action="" #sellerAddItemForm="ngForm">
 
                        
                        <!-- <div class="form-group">
                          <label class="col-sm-3 control-label">学科门类：</label>
                          <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="Profession.subjectCategoryId" name="subjectCategoryId" (change)=" getProfessionCategoryOptions($event.target.value)" >
                              <option *ngFor="let option1 of subjectCategoryOptions" [value]="option1.professionCode">{{option1.professionName}}</option>
                            </select>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <label class="col-sm-3 control-label">专业类别：</label>
                          <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="Profession.professionCategoryId" name="professionCategoryId" (change)=" getProfessionTitleOptions($event.target.value)">
                              <option *ngFor="let option2 of professionCategoryOptions" [value]="option2.professionCode">{{option2.professionName}}</option>
                            </select>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <label class="col-sm-3 control-label">专业名称：</label>
                          <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="Profession.majorCode" name="majorCode">
                              <option *ngFor="let option3 of professionTitleOptions" [value]="option3.professionCode">{{option3.professionName}}</option>
                            </select>
                          </div>
                        </div> -->


                        
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="category">Category</label>
                                      <select class="form-control" [(ngModel)]="categoryOptions.id" id="category" name="category" (change)=" getSubCategoryOptions($event.target.value)" >
                                        <option *ngFor="let option1 of objectKeys(categoryOptions) " value="categoryOptions[option1].id" >{{categoryOptions[option1].name}}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="subcategory">Sub Category</label>
                                      <select class="form-control" [(ngModel)]="subcategoryOptions.id" id="subcategory" name="subcategory" >
                                        <option *ngFor="let option2 of objectKeys(subcategoryOptions) " value="subcategoryOptions[option2].id" >{{subcategoryOptions[option2].name}}</option>
                                      </select>
                                   </div>
                              </div>
                          </div>

                          <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="itemName">Item Name</label>
                                        <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Enter itemname" 
                                               required #itemName="ngModel" [(ngModel)]="seller.itemname"/>
                                            <span class="help-block text-danger" *ngIf="!itemName.valid && itemName.touched">The Item Name field is required!</span>
                                    </div>
                                </div>
                            </div>

                          <div class="row"> 
                              <div class="col">
                                  <div class="form-group">
                                      <label for="gstin">Item Image</label>
                                      <input type="text" class="form-control" id="gst" name="gst" placeholder="GSTIN"
                                             required #itemName="ngModel" [(ngModel)]="seller.gst"/>
                                             <span class="help-block text-danger" *ngIf="!itemName.valid && itemName.touched">The Item Name field is required!</span>   
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="postal address">Item Description</label>
                                    <textarea class="form-control" id="address" rows="3"
                                        name="address" [(ngModel)]="seller.address"
                                        placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                        </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="brief">Item Price</label>
                                      <input type="text" class="form-control" id="gst" name="gst" placeholder="GSTIN"
                                             [(ngModel)]="seller.gst"/>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <label for="email">Item Stock</label>
                                      <input type="email" class="form-control" id="email" [(ngModel)]="seller.email" name="email"
                                      placeholder="Enter email">
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn " (click)="save()" [disabled]="!sellerAddItemForm.valid">Save Item</button>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col"></div>
      </div>
  </div>
