<footer class="footer-section">
    <div class="container">
        <h1 class="cnt">ContactUs</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Secure Payments</li>
                        <li>Pay with secure payment methods</li>                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>30-day Return Policy</li>
                        <li>If your item is not as described or damaged, you may return it within 30 days upon delivery.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>24/7 Customer Service</li>
                        <li>We'll respond to you within 24 hours</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Address:XXXXXXXXXXXXX</li>
                        <li>Phone: +868008008888</li>
                        <li>Email: 123456@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights 2020 reserved <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
                            target="_blank">Emart</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>